<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.rn4screens"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
            android:name=".MainApplication"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:allowBackup="true"
            android:theme="@style/AppTheme">

        <activity
                android:name=".SplashActivity"
                android:theme="@style/SplashTheme"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
<!--        adb shell am start -W -a android.intent.action.VIEW -d "rn4screens://welcome" com.rn4screens-->
<!--        adb shell am start -W -a android.intent.action.VIEW -d "rn4screens://settings" com.rn4screens-->
<!--        adb shell am start -W -a android.intent.action.VIEW -d "http://rn4screens.com/settings" com.rn4screens-->
<!--        adb shell am start -W -a android.intent.action.VIEW -d "http://rn4screens.com/settings" com.rn4screens-->
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
                android:launchMode="singleTask"
                android:windowSoftInputMode="adjustResize"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="rn4screens" android:host="welcome" />
                <data android:scheme="rn4screens" android:host="settings" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="rn4screens.com" android:pathPrefix="/welcome"/>
                <data android:scheme="https" android:host="rn4screens.com" android:pathPrefix="/settings"/>
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity"/>
    </application>

</manifest>
